body{
    border: 1px;
    padding: 1em;
    margin : 1px;
}
header {
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    border-bottom: 1px solid black;
    
  }
  .header-row-1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .header-row-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    
  }
  
  .header-row-2 h3{
    font-size: 1em;
  }
  
  
  header h1 {
    margin: 0;
    font-size: 6em;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic');
body{
  /* background-color: #EDEDED; */
  margin: 0px;
}

img{
  width:100%;
}

section{
  -webkit-column-count: 4;
  -webkit-column-gap: 40px;
  -webkit-column-rule: 1px solid #A1A1A1;
  -moz-column-count: 4;
  -moz-column-gap: 40px;
  -moz-column-rule: 1px solid #A1A1A1;
  column-count: 4;
  column-gap: 40px;
  column-rule: 1px solid #A1A1A1;
  text-align: justify;
  font-family:'cairo',serif;
  font-size:12px;
  padding: 1em;
}

h1{
  margin-top:0;
  text-align: center;
}

p img{
  padding-top: 1em;
  padding-bottom: 1em;
}
  
footer{
  border-top: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: black;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0;
  display: inline-block;
  color : white;
}

